/* .upper-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
} */

.text-container .user-name {
    line-height: 16px;
}

.cart-badge {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}