/* MUST be first */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Tailwind import MUST come after font import */
@import "tailwindcss";

/* Global resets */
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Prevent any scrolling */
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
  overflow-y: auto;
}

/* Global CSS variables */
:root {
  --primary-color: #3A4750;
  --secondary-color: #D4AF37;
  --background-color: #F1F4F7;
  --text-color: #404040;
  --label-color: #8B8B8B;

  --safe-bottom: env(safe-area-inset-bottom);
  --safe-top: env(safe-area-inset-top);
}

/* Body styling */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Smooth animation class */
.floating-circle {
  transition: all 0.35s cubic-bezier(.68, -0.55, .27, 1.55);
}

.category-scroll {
  overflow-x: auto;
  overflow-y: hidden;

  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE & Edge */
  -webkit-overflow-scrolling: touch;
}

.category-scroll::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}